# Directories
.vs/
Binaries/
Engine/**/Generated/*
Debug
.idea/
/build/
/build*/
/out/
/bin/
/lib/
cmake-build-debug/
cmake-build-release/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

#Exclude
!3rdParty/
vs-chromium-project.txt
FBX/

# ==============================================================================
# CMake Artifacts
# ==============================================================================
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
CMakeUserPresets.json
CmakeLists.txt.DotSettings.user

# ==============================================================================
# Ninja Artifacts
# ==============================================================================
*.ninja
.ninja_deps
.ninja_log

# ==============================================================================
# Compilation Database & Language Server Cache
# ==============================================================================
compile_commands.json
.cache/
.clangd/