[submodule "Engine/3rdParty/spdlog"]
	path = Engine/3rdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/3rdParty/tracy"]
	path = Engine/3rdParty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Engine/3rdParty/OpenFBX"]
	path = Engine/3rdParty/OpenFBX
	url = https://github.com/nem0/OpenFBX.git
[submodule "Engine/3rdParty/SDL"]
	path = Engine/3rdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Engine/3rdParty/slang"]
	path = Engine/3rdParty/slang
	url = https://github.com/shader-slang/slang.git
[submodule "Engine/3rdParty/KTX-Software"]
	path = Engine/3rdParty/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "Engine/3rdParty/stb"]
	path = Engine/3rdParty/stb
	url = https://github.com/nothings/stb.git
[submodule "Engine/3rdParty/cgltf"]
	path = Engine/3rdParty/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
